$orange: #ff851b;
$green: #28b62c;
$blue: #5bb7db;
$red: #ff4136;

$primary: #158cba !default;

$info-invert: #fff;

$family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, "Segoe UI", Arial, "メイリオ", Meiryo, sans-serif;

@import "../../node_modules/bulma/bulma.sass";