{{ define "meta" }}
  <link rel="stylesheet" href="{{.Site.BaseURL}}css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{{.Site.BaseURL}}css/kaigara-bulma.min.css">
  <!-- <link rel="stylesheet" href="{{.Site.BaseURL}}css/custom.css"> -->
  <script src="{{.Site.BaseURL}}/js/home.js"></script>
{{ end }}

{{ define "main" }}
  <main id="elm"></main>
  <script>
    var profile = JSON.parse('{{ .Site.Params.home | jsonify }}');
    var app = Elm.Home.init({
      node: document.getElementById('elm'),
      flags: profile
    });
  </script>
{{ end }}